<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 style="text-align: center">Crop Recommendation</h1>
        <h5 style="text-align: center">Predicts which crop will be suitable</h5>
        <form method="POST" action="/classify">

            <div class="row">

                <!--                <div class="col">-->
                <!--                    <div>-->
                <!--                        <label>Are you male ?:</label>-->
                <!--                        <select name="temperature" class="form-control">-->
                <!--                            <option value="1">Male</option>-->
                <!--                            <option value="0">Female</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div style="margin-top: 20px;" class="col">
                    <div><strong>N: </strong><input class="form-control" name="N" type="number"></div>
                </div>


                <div style="margin-top: 20px;" class="col">
                    <div><strong>P:</strong> <input class="form-control" name="P" type="number"></div>
                </div>

                <div style="margin-top: 20px;" class="col">
                    <div><strong>K: </strong><input class="form-control" name="K" type="number"></div>
                </div>
            </div>

            <div class="row">
                <div style="margin-top: 20px;" class="col">
                    <div><strong>temperature: </strong><input class="form-control" name="temperature" type="number">
                    </div>
                </div>
                <div style="margin-top: 20px;" class="col">
                    <div><strong> humidity: </strong><input class="form-control" name="humidity" type="number"></div>
                </div>
                <div style="margin-top: 20px;" class="col">
                    <div><strong>ph:</strong> <input class="form-control" name="ph" type="number"></div>
                </div>
            </div>

            <div class="row">
                <div style="margin-top: 20px;" class="col">
                    <div><strong>rainfall:</strong> <input class="form-control" name="rainfall" type="number"></div>
                </div>

            </div>
            <button style="margin-top: 35px;" class="btn btn-success"><strong>Predict</strong></button>
        </form>

        {% if result %}
        <h5 style="text-align: center">Predicted which crop will be suitable is </h5>
        <div
            style="margin: auto; margin-top: 30px !important; background-color :green; padding: 30px ; border: 5px ;border-color: rgb(38, 53, 38) ; width: fit-content; border-radius: 5px;">
            <span style="font-size: 40px;"><strong>{{result}}</strong></span>
        </div>
        <div>
            <table style="border: 5px; border-color: green;">
                <tr style="border: 5px; border-color: green;">
                    <td>N :</td>
                    <td>{{N}}</td>
                </tr>
                <tr>
                    <td>P :</td>
                    <td>{{P}}</td>
                </tr>
                <tr>
                    <td>K :</td>
                    <td>{{K}}</td>
                </tr>
                <tr>
                    <td>temperature :</td>
                    <td>{{temperature}}</td>
                </tr>
                <tr>
                    <td>humidity :</td>
                    <td>{{humidity}}</td>
                </tr>
                <tr>
                    <td>ph :</td>
                    <td>{{ph}}</td>
                </tr>
                <tr>
                    <td>rainfall :</td>
                    <td>{{rainfall}}</td>
                </tr>
            </table>
        </div>
        {% endif %}

    </div>
</body>
<script>

</script>

</html>